<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Estrela Cadente</title>
    <!-- Link para a fonte Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <style>
        .container {
            display: flex;
            justify-content: center; /* Centraliza na horizontal */
            align-items: center; /* Centraliza na vertical */
            height: 100vh;
        }
    </style>
</head>
<body>

    <main>
        <div class="container">
            <img src="{{url_for('static', filename='images/estrela-cadente.png')}}" alt="Estrela Cadente Logo" class="logo-login">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="submit-button">{{ form.submit() }}</p>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Estrela Cadente - Todos os direitos reservados</p>
    </footer>
</body>
</html>
