<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrela Cadente</title>
    <!-- Link para a fonte Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='images/estrela-cadente-branco.png')}}" alt="Estrela Cadente Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Seguindo</a></li>
                <li><a href="#">Pessoal</a></li>
                <li><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="perfil"></section>
        <img class="avatar" src="{{ url_for('static', filename='uploads/default-profile.png') }}" alt="Avatar" style="border-radius: 50%; object-fit: cover; float: left; margin-right: 25px; height: 200px; width: 200px;">
        <h2>{{ user.username }}</h2>
                <p>2 listas de desejos</p>
                <p>Seguindo: <b>2</b> &nbsp; &nbsp; Seguidores: <b>3</b></p>
                <a href="{{ url_for('editarPerfil') }}" class="modificar-dados">Modificar dados pessoais</a>
            </div>
        </section>

        <section class="listas-desejos">
            <h3>Listas de desejos</h3>
            <div class="listas">
                <div class="lista">
                    <img src="{{url_for('static', filename='images/birthday.png')}}" alt="Dia do Toco">
                    <p>Dia do Toco</p>
                    <p>3 itens</p>
                </div>
                <div class="lista">
                    <img src="{{url_for('static', filename='images/books.png')}}" alt="Livros">
                    <p>Livros</p>
                    <p>2 itens</p>
                </div>
                <div class="lista" >
                    <div class="add-list">
                        <a href="{{ url_for('criarLista') }}"><p>+</p></a>
                    </div>
                    <p>Criar lista</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Estrela Cadente - Todos os direitos reservados</p>
    </footer>
</body>
</html>
